name: Deploy FoodFlow
on: push
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup pnpm
              uses: pnpm/action-setup@v4
            - name: Install dependencies
              run: pnpm install
            - name: Lint
              run: pnpm run lint
    build: 
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup pnpm
              uses: pnpm/action-setup@v4
            - name: Install dependencies
              run: pnpm install
            - name: Build
              run: pnpm run build
